[submodule "External/glfw"]
	path = External/glfw
	url = https://github.com/glfw/glfw.git
[submodule "External/glm"]
	path = External/glm
	url = https://github.com/g-truc/glm.git
[submodule "External/volk"]
	path = External/volk
	url = https://github.com/zeux/volk.git
[submodule "External/VulkanMemoryAllocator"]
	path = External/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "External/tinyobjloader"]
	path = External/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "External/tinygltf"]
	path = External/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "External/portable-file-dialogs"]
	path = External/portable-file-dialogs
	url = https://github.com/samhocevar/portable-file-dialogs.git
[submodule "External/imgui"]
	path = External/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "External/glslang"]
	path = External/glslang
	url = https://github.com/KhronosGroup/glslang.git
